@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(238, 235, 230);
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
}

button {
    margin: 8px 0;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    background-color: ;
    border-color: transparent;
    transition: 300ms ease-in-out;
}

button:hover {
    box-shadow: 5px 5px 5px 0 gray;
    transition: 300ms ease-in-out;
}

button:disabled {
    transition: 300ms ease-in-out;
    border: solid 1px black;
    box-shadow: 5px 5px 5px 0 gray;
}

h1 {
    margin: 5px;
    font-size: 24px;
}